<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amazon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .card-img-top {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        .card {
            height: 100%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
        }
        .card-title {
            flex-grow: 1;
        }
    </style>
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Amazon</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('products') }}">Products</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Profile</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Enter Product ID" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
    
    <!-- cards products -->
    <div class="container mt-5 text-center">
        <div class="container d-flex">
          <div class="container ml-5">
            <div class="sidebar d-none d-lg-block">
                <h2>Categories</h2>
                <ul class="mt-4">
                    {% for category in categories %}
                        <h6><a href="#">{{ category.category_names }}</a></h6>
                    {% endfor %}
                </ul>
            </div>
          </div>
            <div class="main-content">
                <div class="row">
                    <h1 class="text-center">All Products</h1>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/laptop.jpeg') }}" class="card-img-top" alt="Laptop">
                              <div class="card-body">
                                  <h5 class="card-title">Laptop</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/oralB.jpg') }}" class="card-img-top" alt="OralB">
                              <div class="card-body">
                                  <h5 class="card-title">OralB</h5>
                                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/lavazza.jpg') }}" class="card-img-top" alt="Lavazza">
                              <div class="card-body">
                                  <h5 class="card-title">Lavazza</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/lavazza.jpg') }}" class="card-img-top" alt="Lavazza">
                              <div class="card-body">
                                  <h5 class="card-title">Lavazza</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/lavazza.jpg') }}" class="card-img-top" alt="Lavazza">
                              <div class="card-body">
                                  <h5 class="card-title">Lavazza</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4 mb-4">
                          <div class="card">
                              <img src="{{ url_for('static', filename='images/lavazza.jpg') }}" class="card-img-top" alt="Lavazza">
                              <div class="card-body">
                                  <h5 class="card-title">Lavazza</h5>
                                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    

    
  </body>
</html>
